.skip-to-content {
    padding: 1rem;
    position: absolute;
    z-index: 21;
    background: rgb(128 128 128 / 81%);
    color: white;
    font-weight: bold;
    font-size: small;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateY(-120%);
    transition: transform .4s;
}

.skip-to-content:focus {
    transform: translateY(0);
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    font-size: .8em;
}
a {
    /* background: #ebedff;
    padding: 1pt;
    border-radius: 2pt;
    border: 1pt solid #c8ceff; */
    padding: 3px;
    border-radius: 4px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    color: rgb(0, 2, 128);
}
a:hover {
    background: #ebedff;
}
a:active {
    background: #c8ceff;
    color: #1f0752;
}

li {
    margin: 5pt 0;
}

.header {
    text-align: center;
    font-size: 25px;
}

.header img {
    max-width: 100%;
    width: 9cm;
}


#main-content {
    width: fit-content;
    margin: 0 auto;
    padding: 1em;
    /* box-shadow: 0px 0px 14px 0 #dadada; */
    border-radius: 5pt;
    margin-bottom: 3em;
}

.option-bar {
    margin-top: .5em;
    margin-bottom: 2em;
    padding: .5em 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background: #eeeeee
}

#input-warning {
    color: red;
    position: absolute;
    background: #ffe9e9;
    border: 1pt solid red;
    font-size: .8em;
    margin-top: 4pt;
    display: none;
}


#input_n {
    background: #c2c9ff;
    border: 2px solid #9797fc;
    border-radius: 4pt;
    width: 3em;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    background: none;
    border: 3px solid #FFF;
    box-shadow: 0 0 0 1px gray;
    width: 9pt;
    height: 9pt;
}

input:checked {
    background: #9797fc;
    box-shadow: 0 0 0 1px #9797fc;

}